Programming Languages : 
<ul>
    <li> Python </li>
    <li> R </li>
 </ul>

# Print Function

In [1]:
print("Hello World")

Hello World

In [7]:
print("hello "+str(3))
v=str(4)
print("hello"+v)
print("hello {v}")
print(8+3)

hello 3
hello4
hello {v}
11

<b>Basic Data Types : </b>
1) int <br>
2) float <br>
3) str

In [8]:
type(8)

int

In [10]:
type(5.3)

float

In [12]:
type("Hello Ashik")

str

# Constant and Variables

In [13]:
arb="Ashikur Rahman"
print(arb)

Ashikur Rahman

In [14]:
arb="Ashikur Rahman Bhuyain"
print(arb)

Ashikur Rahman Bhuyain

In [16]:
name1 , name2 , name3="Asif" , "ashik" , "arb"
print(name1)
print(name2)
print(name3)

Asif
ashik
arb

In [18]:
x=y=z=23 #giving single value to multiple variable
print(x)
print(y)
print(z)

23
23
23

# Input Function

In [21]:
number_1=int(input("Enter the first number : "))  #same as scanf in c/c++
number_2=int(input("Enter The second number : "))
sum=number_1+number_2
print(sum)

Enter the first number : 33
Enter The second number : 33
66

In [24]:
# Changing the Data type in python  
num=5
print(float(num))

print(num)

5.0
5

# Basic DataTypes
1. Integer
2. Floating Point
3. Complex
4. Boolean
5. String

In [25]:
# integers
a=3
print(a)

3

In [27]:
type(a)  #type will return the datatype

int

In [28]:
#Floating point
b=2.3
print(b)
type(b)

2.3

float

In [30]:
# Complex number
c=3j+1
print(c)
type(c)

(1+3j)

complex

<b> Conversion of one datatype to another </b>

In [31]:
# int to float
x=10
print(x)
type(x)

10

int

In [32]:
y=float(x)
print(y)
type(y)

10.0

float

In [33]:
#float to int

In [34]:
x=5.88
print(x)
type(x)

5.88

float

In [35]:
y=int(x)
print(y)
type(y)

5

int

<b> Boolean </b>
1. True
2. False

In [36]:
a=True
print(a)
type(a)

True

bool

In [37]:
b=False
print(b)
type(b)

False

bool

In [38]:
a=7<3
print(a)
type(a)

False

bool

<b> String</b>

In [39]:
print('Machine Learning')
print("hello double cotes!")

Machine Learning
hello double cotes!

In [40]:
my_string="Machine Learning ms"
print(my_string)
type(my_string)

Machine Learning ms

str

In [41]:
print("Hello " *5)  # Print this line 4 times

Hello Hello Hello Hello Hello

<b> Slicing </b>

In [44]:
my_string='programming'
print(my_string[1:5]) # values from index 1 to 5-1 will be sliced

rogr

In [47]:
#step
print(my_string[0:10:2]) # every 2th letter from 0th latter to 10 latter

pormi

<b> String Concatenation </b>

In [49]:
word_1="Machine "
word_2="Learning"
print(word_1+word_2)

Machine Learning

# Types of Objects in Python: 
 1. Immutable Objects
 2. Mutable Objects
 
 
 Immutable Objects: 
 1. int 
 2. float
 3. string
 4. bool 
 5. tuple
 
 Mutable Objects : 
 1. List
 2. Set
 3. Dictionary

<b> List </b>

In [50]:
# list should be included in the squre brackets
#List can have multiple data types
my_list=[1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [51]:
#List can have multiple data types
my_list=[2,3.4,"English",True]
print(my_list)

[2, 3.4, 'English', True]

Lists are Mutable -> Changeable

In [52]:
#add elements to a list
my_list=[2,3.4,"English",True]
my_list.append(6)
print(my_list)

[2, 3.4, 'English', True, 6]

In [53]:
#print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
English

In [54]:
#lists allow duplicate values
list_1=[1,2,3,1,2]
print(list_1)

[1, 2, 3, 1, 2]

In [55]:
print(len(list_1))

5

In [56]:
#initiating an empty list
list_2=[]
print(list_2)

[]

In [57]:
list_2.append(5)
print(list_2)

[5]

In [59]:
#delete an item in a list
list_2=[2, 3.4, 'English', True]
print(list_2)
del list_2[2]
print(list_2)

[2, 3.4, 'English', True]
[2, 3.4, True]

In [60]:
#join two lists
list_3=[1,2,3,4,5]
list_4=[6,7,8,9,10]
list_5=list_3+list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<b> Tuple </b>

In [61]:
tuple_1=(2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [62]:
#tuple allows multiple data types
tuple_2=(1,2,3,4,"Machine Learning", False)
print(tuple_2)

(1, 2, 3, 4, 'Machine Learning', False)

In [63]:
#converting a list to a tuple
my_list=[3,4,5,6]
print(my_list)

my_tuple=tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [64]:
print(my_tuple[0])
print(my_tuple[1])

3
4

Tuple-> immutable

In [65]:
#my_tuple.append(3) #not possible

AttributeError: 'tuple' object has no attribute 'append'

In [66]:
print(len(my_tuple))

4

<b> Set </b>

In [67]:
# set --> curly brackets
my_set={1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [68]:
#print(my_set[0])  #not possible

TypeError: 'set' object is not subscriptable

In [69]:
# converting a list to a set
list_5=[4,5,6,7,8]
x=set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [70]:
#set does not allow duplicate values
set_3={1,2,3,5,1,2,3}
print(set_3)

{1, 2, 3, 5}

<b> Dictionary </b>

Key-value pair

In [71]:
my_dictionary={'name':'Ashik','age':24,'country':"Bangladesh"}
print(my_dictionary)
type(my_dictionary)

{'name': 'Ashik', 'age': 24, 'country': 'Bangladesh'}

dict

In [72]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Ashik
24
Bangladesh

In [73]:
# Dictionary does not allow duplicate values
dictionary_2={'name':'Ashik','age':24,'country':"Bangladesh",'name':'Ashik','age':24,'country':"Bangladesh"}
print(dictionary_2)

{'name': 'Ashik', 'age': 24, 'country': 'Bangladesh'}

# Operators in python:
1. Arithmatic Operators
2. Assignment Operators 
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

<b> 1. Arithmatic operators </b>

In [77]:
num_1=20
num_2=10
#addition
sum=num_1+num_2
print('sum = ',sum)

#subtraction
diff=num_1-num_2
print('difference = ',diff)

#multiplication
pro=num_1*num_2
print('product = ',pro)

#difision
quo=num_1/num_2
print('quotient = ',quo)

#exponent
exp=num_1**num_2
print('exponent = ',exp) #20^ 10

#modulus
mod=num_1%num_2
print('reminder = ',mod)

sum =  30
difference =  10
product =  200
quotient =  2.0
exponent =  10240000000000
reminder =  0

<b> 2. Assignment Operators </b>

<br>
+= <br>
-= <br>
*= <br>
**= <br>
/= <br>
%=

In [78]:
a=5
print(a)

5

In [80]:
a=5
a+=5 # a=a+5
print(a)

10

<b> 3. Comparison Operators </b>

a=5
b=10
print(a==b)   #equal to 
print(a!=b)   #not equal to
print(a>b)    #greater than
print(a<b)    #less then
print(a<=b)   
print(a>=b)

<b> 4. Logical Operators </b>
<br>
and <br>
or <br>
not <br>

In [85]:
a=10
print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>8 and a>5))

False
True
False

<b> 5. Identity Operator </b>
<br>
is <br>
is not <br>

In [86]:
x=5
y=5
print(x is y)

True

In [88]:
x=5
y=10
print(x is not y)

True

<b> 6. Membership Operator : </b>
    <br>
    in <br>
    not in <br>

In [90]:
a=5
b=10
c=[1,2,3,4,5]
print(a in c)
print(b in c)

True
False

In [91]:
a=5
b=10
c=[1,2,3,4,5]
print(a not in c)
print(b not in c)

False
True

# if else Statement in python
<br>
simple if else statement

In [92]:
a=30
b=50
if(a>b):
    print('a is greatest number')
else :
    print('b is the greatest number')

b is the greatest number

In [93]:
a=int(input("enter the first number : "))
b=int(input('enter the second number : '))
if(a>b):
    print('a is greatest number')
else :
    print('b is the greatest number')

enter the first number : 23
enter the second number : 44
b is the greatest number

if elif else statement

In [94]:
a=15
b=20
c=25
if(b<a>c):
    print('a is greatest number')
elif (a<b>c) :
    print('b is the greatest number')
else : 
    print('c is the greatest number')

c is the greatest number

<b> nested if statement </b>

In [95]:
a=15
b=20
c=25
if(b<a):
    if(a>c):
        print('a is greatest number')
    else :
        print('c is the greatest number')
else : 
    if(b>c):
        print('b is the greatest number')
    else :
        print('c is the greatest number')

c is the greatest number

# Loops in Python

<b> For Loop </b>

In [1]:
laptop1=int(input("Enter the price of the laptop : "))
laptop2=int(input("Enter the price of the laptop : "))
laptop3=int(input("Enter the price of the laptop : "))
laptop4=int(input("Enter the price of the laptop : "))
laptop5=int(input("Enter the price of the laptop : "))

Enter the price of the laptop : 3
Enter the price of the laptop : 4
Enter the price of the laptop : 5
Enter the price of the laptop : 6
Enter the price of the laptop : 7

In [2]:
for i in range(5):
    laptop_price=int(input("Enter the price of the laptop : "))

Enter the price of the laptop : 33
Enter the price of the laptop : 44
Enter the price of the laptop : 55
Enter the price of the laptop : 66
Enter the price of the laptop : 77

In [4]:
numbers=[50,100,150,200]
for i in numbers:
    print(i)

50
100
150
200

<b> While loop </b>

In [5]:
i=0
while i<10:
    print(i)
    i+=1  # i = i+1

0
1
2
3
4
5
6
7
8
9

# Functions 
<br> Function is a block of code that can be reused in a program.

Factorial of a number

In [6]:
number=int(input("Enter a number to find its factorial : "))
factorial=1
if number == 0:
    print("the factorial of 0 is 1")
else :
    for i in range (1,number+1):   #range (1 to number)
        factorial=factorial*i    
        
    print('The factorial of ',number,"is",factorial)

Enter a number to find its factorial : 10
The factorial of  10 is 3628800

<b>Factorial function </b>

In [7]:
def factorial_value(num):
    factorial=1
    if num==0:
        return factorial
    else :
        for i in range(1,num+1):
            factorial=factorial*i
        return factorial

In [8]:
print(factorial_value(5))

120

In [9]:
print(factorial_value(10))

3628800